body {
  background-color: #fdfffe;
  overflow: scroll;
}

.landing-hero {
  height: 600px;
  width: 100%;
  background: radial-gradient(circle, #162e33, #102226);
  background-blend-mode: soft-light;
  padding: 10px;
  overflow: hidden;
  -webkit-clip-path: url(#landing-hero-clip);
  clip-path: url(#landing-hero-clip);
  position: relative;
}

.tag-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 18px;
}

@media (max-width: 1406px) {
  .main-visual {
    width: 790px;
  }
}

@media (max-width: 1268px) {
  .main-right {
    width: 70%;
  }

  .carousel-controls {
    margin-right: 100px;
  }
}

@media (max-width: 1240px) {
  .main-right {
    transform: translate(-50px);
  }

  .carousel-controls {
    margin-right: 100px;
  }
}

@media (max-width: 1180px) {
  .main-right {
    transform: translate(-120px);
  }

  .carousel-controls {
    margin-right: 50px;
  }
}
@media (max-width: 1120px) {
  .landing-hero {
    height: 1000px;
    width: 114%;
  }
  .landing-main {
    flex-direction: column;
    padding-left: 10px;
  }
  .main-left {
    width: 100%;
    text-align: center;
  }
  .nav-item-label {
    padding: 10px 100px;
  }
  .headline {
    width: 70%;
    font-size: 4rem;
    margin: 40px auto;
  }

  .description {
    width: 50%;
    margin: 10px auto 0px;
  }

  .cta-button-container {
    margin: 40px auto 30px;
    padding: 15px 20px;
    width: 350px;
  }

  .cta-btn p {
    font-size: 1.5rem;
  }

  .main-right {
    width: 100%;
    transform: translateX(1%);
  }

  .main-visual {
    width: 100%;
  }

  .testimonial-list {
    transform: translateX(7px);
  }

  .landing-footer {
    flex-direction: column;
    gap: 50px;
    padding-left: 0px;
  }

  .footer-left {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    scale: 1.3;
  }

  .footer-right {
    width: 114%;
    gap: 60px;
  }

  .partner {
    border: 1px solid #dbdbdb;
    padding: 15px 25px;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }

  .partner-logo {
    width: 45px;
    height: 45px;
  }

  .partner-name {
    font-size: 0.9rem;
    font-weight: bold;
  }
}

@media (max-width: 750px) {
  .landing-hero {
    height: 1050px;
  }

  .main-right {
    width: 100%;
    transform: translateX(-3%);
  }

  .testimonial-list {
    transform: translateX(-1%);
    width: 100%;
    margin: 0px auto;
  }

  .cta-button-container {
    margin: 30px auto;
    width: 280px;
    padding: 10px 15px;
  }

  .cta-btn p {
    font-size: 1.2rem;
  }
}

@media (max-width: 725px) {
  .testimonial-list {
    transform: translateX(-2%);
    width: 100%;
    margin: 0px auto;
  }
}

@media (max-width: 690px) {
  .testimonial-list {
    transform: translateX(-4%);
    width: 100%;
  }
}

@media (max-width: 660px) {
  .testimonial-list {
    transform: translateX(-6%);
    width: 100%;
  }
}

@media (max-width: 642px) {
  .testimonial-list {
    transform: translateX(-9%);
    width: 100%;
  }
}
@media (max-width: 615px) {
  .testimonial-list {
    transform: translateX(-11%);
    width: 100%;
  }

  .footer-right {
    gap: 60px;
    flex-direction: column;
  }

  .partner {
    flex-shrink: 0;
  }
}

@media (max-width: 595px) {
  .landing-hero {
    height: 1000px;
  }

  .landing-header {
    padding: 5px 5px 10px 50px;
  }

  .nav-item-label {
    padding: 5px 60px;
  }
  .headline {
    width: 90%;
    font-size: 3rem;
  }

  .cta-button-container {
    padding: 10px 20px;
    width: 250px;
  }

  .cta-btn p {
    font-size: 1rem;
  }
  .testimonial-list {
    transform: translateX(-13%);
  }
}

@media (max-width: 550px) {
  .testimonial-list {
    transform: translateX(-19%);
  }
}
@media (max-width: 535px) {
  .testimonial-list {
    transform: translateX(-21%);
  }
}
@media (max-width: 515px) {
  .description {
    width: 90%;
  }
  .testimonial-list {
    transform: translateX(-24%);
  }
}
@media (max-width: 495px) {
  .testimonial-list {
    transform: translateX(-27%);
  }
}
@media (max-width: 475px) {
  .nav-left button {
    font-size: 0.7rem;
    letter-spacing: 1px;
  }

  .nav-btn-count {
    font-size: 0.8em;
  }

  .nav-btn-status {
    padding: 3px;
    font-size: 0.65em;
  }

  .login-btn {
    letter-spacing: 1px;
    font-size: 0.75rem;
    padding: 5px 10px;
  }

  .carousel-controls {
    margin-right: 20px;
  }
  .testimonial-list {
    margin-top: 10px;
    transform: translateX(-30%);
  }
}

@media (max-width: 465px) {
  .main-right {
    width: 180%;
    transform: scale(0.7);
  }

  .carousel-controls {
    margin-right: 20%;
  }

  .main-visual {
    width: 810px;
  }
  .testimonial-list {
    margin: 20px auto;
    width: 800px;
    transform: translateX(0px);
  }
}

@media (max-width: 420px) {
  .main-right {
    width: 200%;
    transform: scale(0.7);
  }
}

@media (max-width: 390px) {
  .main-right {
    width: 210%;
    transform: scale(0.7);
  }
}
