.landing-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-left: 100px;
}

.footer-left {
  width: 35%;
}

.testimonial {
  display: flex;
  gap: 10px;
}

.testimonial-avatar {
  border-radius: 5px;
}

.testimonial-content {
  width: 250px;
}

.testimonial-name {
  font-weight: 900;
  color: #050507;
  font-size: 0.9rem;
}

.testimonial-text {
  color: #05050787;
  font-size: 0.6rem;
  margin-top: 5px;
  font-style: italic;
  font-weight: bold;
}

.progress-bar {
  margin-top: 15px;
  background-color: rgb(200, 200, 200);
  width: 100%;
  height: 3px;
  border-radius: 50px;
}

.progress-filled {
  width: 60%;
  height: 3px;
  background-color: #211609e4;
  border-radius: 50px;
}

.footer-right {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  padding: 0px 20px;
}

.partner {
  border: 1px solid #dbdbdb;
  padding: 15px 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.partner-logo {
  width: 45px;
  height: 45px;
}

.partner-name {
  font-size: 0.9rem;
  font-weight: bold;
}
